APP_NAME=Zepeed
APP_ENV=local
APP_KEY=base64:eFShenG3Ah7EB6m8bLBEhPZBwclIx63Of1Wav23nYfY=
APP_DEBUG=true
APP_URL=http://localhost

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
PUSHER_HOST=soketi
PUSHER_SCHEME=https
PUSHER_PORT=443

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"

AUTORUN_LARAVEL_CONFIG_CACHE=false
AUTORUN_LARAVEL_EVENT_CACHE=false
AUTORUN_LARAVEL_OPTIMIZE=false
AUTORUN_LARAVEL_ROUTE_CACHE=false
AUTORUN_LARAVEL_VIEW_CACHE=false
AUTORUN_LARAVEL_MIGRATION_SEED=true
